html, body {
    padding: 0;
    margin: 0;
}
.content {
    background-color: #ededed;
    padding: 20px 0;
}
.settings {
    width: 350px;
    margin: 20px;
}
.settings > div {
    display: inline-block;
}
.settings input {
    display: inline-block;
    width: 45px;
}
.show-grid {
    width: 100px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border:1px solid #777777;
	cursor:pointer;
    color:#777777;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

}

